@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

body
{
    background-image: url("Armoiries_Bretagne_tiny.png");
    background-color: rgba(128, 128, 128, .8);
    background-blend-mode: color;
    font-family: 'Roboto Slab', serif;
    font-size: 1.5em;
    color:darkslategrey;
    
}

#title
{
    font-size: 4vw;
    font-weight: bolder;
    color: brown;
}
#main
{
    width: 85%;
    margin: auto;
}

#image-div
{
    text-align: center;
}

.VannesImage
{
    width: 75%;
}

#contenu
{
    font-size: 1.5vw;
    font-weight: bold;
    color:maroon;
}
